@import "../../styles/__vars.scss";
.balanceDetails {
  // margin-bottom: 18px;
  text-align: center;
  &__cardCurrencyDetails {
    background: transparent;
  }
  &__addTokensBTn {
    display: flex;
    align-items: center;
    gap: 6px;
    color: $baseColor-Text;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 14px;
    background-color: $inputBg;
    border-radius: 30px;
    margin: 0 auto;
    max-width: 96px;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
  }
  &__selectStyle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__innerBalance {
    background-image: url("../../Assets/PNG/WalletBg.png");
    background-position: center;
    background-size: cover;
    padding: 20px 24px;
    &__totalBalnce {
      p {
        color: $white;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
        span {
          font-size: 24px;
        }
      }
    }
    &__chainBalance {
      display: flex;
      gap: 20px;
      padding-top: 8px;
    }
    &__walletQa{
      img{
        cursor: pointer;
      }
    }
    &__balanceName {
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 8px;
      p {
        color: #f7faff;
        font-size: 10px;
        white-space: nowrap;
      }
      h3 {
        color: #f7faff;
        display: flex;
        gap: 8px;
        font-size: 18px;
      }
    }
    &__balanceCard {
      background-image: url("../../Assets/PNG/walletInnerCard.png");
      background-position: center;
      background-size: cover;
      padding: 10px;
      gap: 8px;
      display: flex;
      align-items: center;
      border-radius: 6px;
    }
  }
  &__nativemodal {
    padding: 25px 14px;
    &__innerContact {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
    &__title {
      background: linear-gradient(91.26deg, #0071ff 0%, #54f0d1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      font-size: 24px;
    }
    &__modalOr {
      background-color: #dfe2e4;
      height: 1px;
      text-align: center;
      width: 100%;
      position: relative;
      margin-top: 8px;
      p {
        color: $white;
        font-size: 12px;
        position: absolute;
        top: -10px;
        left: 45%;
        background: #0f2046;
        padding: 3px;
      }
    }
    &__addressText {
      color: $white;
      font-size: 14px;
      padding-top: 12px;
    }
    &__wrapedText {
      p {
        color: $white;
        font-size: 14px;
        display: flex;
        gap: 6px;
        word-break: break-all;
        img {
          cursor: pointer;
        }
      }
    }
    &__footerbuttons {
      width: 100%;
      padding-top: 20px;
    }
  }
  &__conectedSec {
    padding: 15px 37px;
    box-shadow: inset 0px -1px 0px #707070;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__connectedField {
      color: $white;
      font-size: 12px;
      display: flex;
      gap: 8px;
    }
    &__textConatct {
      p {
        color: $white;
        font-size: 15px;
      }
      span {
        color: $white;
        font-size: 14px;
      }
    }
  }
  &__multiSwapBtn {
    padding: 30px 37px;
    padding-bottom: 0;
  }
  &__sendSwapbtn {
    display: flex;
    border-radius: 12px;
    background: #0e1e41;
    border: 1px solid #102658;
    &__buttons {
      background: #0e1e41;
      // border-radius: 12px 0 0px 12px;
      width: 100%;
      border-radius: 12px;
      cursor: pointer;
      color: $white;
      border: 0;
      font-size: 15px;
      padding: 14px;
      &__active {
        background: linear-gradient(114.15deg, #0da6c2 20.67%, #0e39c6 89.64%);
        // border: 1px solid rgba(255, 255, 255, 0.5);
        border: 1px solid #13d3e1;
        // border-radius: 0px 12px 12px 0px;
      }
    }
  }
  &__accountName {
    text-align: left;
    p {
      color: $white;
      font-size: 15px;
      // text-transform: capitalize;
      display: flex;
      gap: 6px;
    }
    span {
      color: $white;
      font-size: 14px;
    }
  }
  &__decoratedSec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
  }
  &__title {
    font-size: 24px;
    color: $white;
    font-weight: 900;
    margin-bottom: 16px;
  }
  &__itemsOuter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 28px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: $baseColor-Text;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    &__whiteText {
      min-width: 40px;
      text-decoration: none;
      background: #367cc754 0% 0% no-repeat padding-box;
      border-radius: 10px;
      padding: 9px 10px;
      width: 60px;
      font-size: 12px;
      color: $white;
      font-weight: bold;
      cursor: pointer;
      span {
        color: $white;
      }
    }
  }
  &__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      color: $baseColor-Text;
      font-size: 20px;
      font-weight: bold;
      margin-top: 7px;
      margin-bottom: 16px;
    }
    &__scanner {
      border-radius: 30px;
      background-color: $white;
      padding: 26px 31px;
      margin-bottom: 50px;
      img {
        width: 100%;
        max-width: 208px;
        height: 208px;
      }
    }
    &__wrapedText {
      max-width: 176px;
      padding: 12px 21px;
      background: transparent
        linear-gradient(180deg, #00aeef1a 0%, #367cc71a 100%) 0% 0% no-repeat
        padding-box;
      border: 1px solid #00aeef;
      border-radius: 30px;
      span {
        margin-left: 7px;
        max-width: 112px;
        display: inline-block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: $black;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
// .abc {
//   background-color: red;
// }
