@import "../../styles/__vars.scss";

.balanceDetails {
  // margin-bottom: 18px;
  text-align: center;

  &__cardCurrencyDetails {
    background: transparent;
  }

  &__addTokensBTn {
    display: flex;
    align-items: center;
    gap: 6px;
    color: $baseColor-Text;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 14px;
    background-color: $inputBg;
    border-radius: 30px;
    margin: 0 auto;
    max-width: 96px;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
  }

  &__selectStyle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__innerBalance {
    padding: 0px 20px;
    padding-top: 20px;
    &__totalBalnce {
      border: 1px solid var(--UI-Secondary-Blue-Tone, #00a7dc26);
      padding: 10px;
      border-radius: 15px;
      p {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        text-align: center;
        justify-content: center;
        font-weight: 500;

        span {
          font-size: 20px;
          display: flex;
          color: $blue-0c98fc;
          gap: 6px;
          align-items: center;
          img{
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    &__chainBalance {
      display: flex;
      gap: 10px;
      padding-top: 10px;
    }

    &__walletQa {
      img {
        cursor: pointer;
      }
    }

    &__balanceName {
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 8px;
      cursor: pointer;

      p {
        color: $gray8D96AA;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
      }

      h3 {
        color: $white;
        font-size: 24px;
        font-weight: 500;
        display: inline-block;
        max-width: 112px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      span {
        margin-left: 10px;
      }
    }

    &__balanceCard {
      width: 100%;
      max-width: 163px;
      border: 1px solid var(--UI-Secondary-Blue-Tone, rgba(0, 167, 220, 0.14902));
      padding: 8px 15px;
      border-radius: 15px;
    }
  }

  &__nativemodal {
    padding: 25px 14px;

    &__scanner {
      background: $white;
      padding: 15px;
      border-radius: 8px;
    }

    &__logoFlex {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 40px;
    }

    &__innerContact {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }

    &__title {
      background: linear-gradient(91.26deg, #0071ff 0%, #54f0d1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-size: 20px;
    }

    &__modalOr {
      background: var(--UI-Secondary-Blue-Tone, rgba(0, 167, 220, 0.15));
      height: 1px;
      text-align: center;
      width: 100%;
      position: relative;
      margin-top: 8px;

      p {
        color: $gray8D96AA;
        font-size: 15px;
        position: absolute;
        top: -15px;
        left: 45%;
        padding: 3px;
        background: #021d3f;
      }
    }

    &__addressText {
      color: $white;
      font-size: 14px;
      padding-top: 12px;
    }

    &__wrapedText {
      margin-top: 8px;

      p {
        color: $white;
        font-size: 14px;
        display: flex;
        gap: 6px;
        word-break: break-all;
        text-align: center;
        align-items: center;
        border-radius: 15px;
        padding: 15px;
        border: 1px solid var(--UI-Secondary-Blue-Tone, rgba(0, 167, 220, 0.15));
        img {
          cursor: pointer;
        }
      }
    }

    &__footerbuttons {
      width: 100%;
      padding-top: 20px;
    }
  }

  &__conectedSec {
    padding: 15px 37px;
    box-shadow: inset 0px -1px 0px #707070;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__connectedField {
      color: $white;
      font-size: 12px;
      display: flex;
      gap: 8px;
    }

    &__textConatct {
      p {
        color: $white;
        font-size: 15px;
      }

      span {
        color: $white;
        font-size: 14px;
      }
    }
  }

  &__multiSwapBtn {
    padding: 18px 80px;
    padding-bottom: 0;
  }

  &__sendSwapbtn {
    display: flex;
    border-radius: 12px;
    background: #0e1e41;
    border: 1px solid #102658;
    padding: 3px;

    &__buttons {
      background: #0e1e41;
      // border-radius: 12px 0 0px 12px;
      width: 100%;
      border-radius: 7px;
      cursor: pointer;
      color: $white;
      border: 0;
      font-size: 15px;
      padding: 8px;

      &__active {
        background: linear-gradient(114.15deg, #0da6c2 20.67%, #0e39c6 89.64%);
        // border: 1px solid rgba(255, 255, 255, 0.5);
        border: 1px solid #13d3e1;
        // border-radius: 0px 12px 12px 0px;
      }
    }
  }

  &__accountName {
    text-align: left;

    &:hover {
      padding: 10px;
      border-radius: 22px;
      background: linear-gradient(114.15deg, #0da6c2 20.67%, #0e39c6 89.64%);
      transition: 0.3s all;
    }

    p {
      color: $white;
      font-size: 15px;
      // text-transform: capitalize;
      display: flex;
      gap: 6px;
      cursor: pointer;
    }

    span {
      color: $white;
      font-size: 14px;
    }
  }

  &__accountName1 {
    text-align: left;

    p {
      color: $white;
      font-size: 15px;
      // text-transform: capitalize;
      display: inline-block;
      max-width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      img {
        padding-right: 5px;
      }
    }

    span {
      color: $white;
      font-size: 14px;
    }
  }

  &__decoratedSec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    padding-bottom: 0;
  }

  &__title {
    font-size: 24px;
    color: $white;
    font-weight: 900;
    margin-bottom: 16px;
  }

  &__itemsOuter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 28px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: $baseColor-Text;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    &__whiteText {
      min-width: 40px;
      text-decoration: none;
      background: #367cc754 0% 0% no-repeat padding-box;
      border-radius: 10px;
      padding: 9px 10px;
      width: 60px;
      font-size: 12px;
      color: $white;
      font-weight: bold;
      cursor: pointer;

      span {
        color: $white;
      }
    }
  }

  &__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      color: $baseColor-Text;
      font-size: 20px;
      font-weight: bold;
      margin-top: 7px;
      margin-bottom: 16px;
    }

    &__scanner {
      border-radius: 30px;
      background-color: $white;
      padding: 26px 31px;
      margin-bottom: 50px;

      img {
        width: 100%;
        max-width: 208px;
        height: 208px;
      }
    }

    &__wrapedText {
      max-width: 176px;
      padding: 12px 21px;
      background: transparent linear-gradient(180deg, #00aeef1a 0%, #367cc71a 100%) 0% 0% no-repeat
        padding-box;
      border: 1px solid #00aeef;
      border-radius: 30px;

      span {
        margin-left: 7px;
        max-width: 112px;
        display: inline-block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: $black;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

.activeDis_Modal {
  &__modalHeading {
    border-bottom: 1px solid #202a41;
    padding-bottom: 10px;

    h3 {
      font-size: 15px;
      color: $white;
    }

    p {
      font-size: 14px;
      color: $white;
      opacity: 0.7;
    }
  }

  &__accountActive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
    border-bottom: 1px solid var(--UI-Secondary-Blue-Tone, rgba(0, 167, 220, 0.15));
    &:last-child {
      border-bottom: 0;
    }
  }

  &__leftSec {
    display: flex;
    gap: 12px;
    align-items: center;

    &__spanContact {
      // max-width: 42px;
      white-space: nowrap;
      overflow: hidden;
      // text-overflow: ellipsis;
      display: inline-block;
      // width: 100%;
      -webkit-text-fill-color: unset !important;
      background: initial !important;
    }

    &__accountConatct {
      text-align: left;

      h2 {
        text-transform: capitalize;
        font-size: 15px;
        color: #ffffff;
        display: flex;
        align-items: center;
        gap: 6px;
      }

      p {
        color: #ffffff;
        font-size: 14px;
        opacity: 0.6;
        cursor: pointer;
        display: flex;
      }

      span {
        background: -webkit-linear-gradient(#0071ff, #54f0d1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 14px;
      }
    }
  }

  &__rytSec {
    display: flex;
    gap: 13px;
    max-width: 80px;
    align-items: center;
    // width: 100%;
    padding-right: 14px;

    h5 {
      border: 1px solid #fff;
      border-radius: 12px;
      padding: 2px 5px;
      color: #fff;
      font-size: 10px;
      font-weight: 600;
    }

    h2 {
      font-size: 13px;
      color: #ffffff;
    }
  }
}

// .abc {
//   background-color: red;
// }
.headerInfo {
  display: flex;
  gap: 6px;
  align-items: center;
  border-radius: 15px;
  padding: 16px 15px;
  background: var(--UI-Module, rgba(20, 55, 139, 0.15));
}
