.myAccountSec {
  padding: 25px;
  &__tabAccount {
    display: flex;
    gap: 15px;
  }
  &__accountHeading {
    padding-top: 35px ;
    text-align: left;
    h3 {
      background: linear-gradient(91.26deg, #0071ff 0%, #54f0d1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      font-size: 16px;
    }
  }
  &__accountActive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
    border-bottom: 1px solid #202a41;
    &:last-child{
        border-bottom: 0;
    }
  }
  &__switchAcc {
    cursor: pointer;
  }
  &__leftSec {
    display: flex;
    gap: 12px;
    align-items: center;
    &__accountConatct {
      text-align: left;
      h2 {
        // text-transform: capitalize;
        font-size: 15px;
        color: #ffffff;
      }
      p {
        color: #ffffff;
        font-size: 14px;
        opacity: 0.6;
      }
      span {
        color: #37c4e1;
        font-size: 14px;
      }
    }
  }
  &__rytSec {
    display: flex;
    gap: 48px;
    align-items: center;
    h2 {
      font-size: 13px;
      color: #ffffff;
    }
  }
}
