@import "../../styles/__vars.scss";
h1 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 11px;
  color: #fff;
  margin-top: 26px;
}
.social {
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  border: 1px solid var(--UI-Secondary-Blue-Tone, rgba(0, 167, 220, 0.15));
  padding: 14px 16px;
  img {
    cursor: pointer;
  }
}
