@import "../../styles/__vars.scss";


.create {
  width: 100%;
  max-width: 108px;
  height: 78px;

  &__account {
    border: none;
    cursor: pointer;
    display: flex;
    gap: 6px;
    border-radius: 15px;
    border: 1px solid var(--UI-Secondary-Blue-Tone, rgba(0, 167, 220, 0.15));
    padding: 18px;
    flex-direction: column;
    align-items: center;
    padding-top: 14px;
    height: 50px;
    justify-content: space-between;

    p {
      font-size: 12px;
      text-transform: capitalize;
      font-weight: 500;
      color: $gray8D96AA;
      margin-bottom: 0;
    }
    svg{
      width: 24px;
      height: 24px; 
    }
  }
}
