.create {
  width: 100%;
  max-width: 108px;
  height: 78px;
  &__account {
    border: none;
    cursor: pointer;
    display: flex;
    gap: 6px;
    background-color: #172647;;
    padding: 18px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding-top: 14px;
    align-items: center;
    height: 50px;
    justify-content: space-between;
   
   
    p {
      font-size: 12px;
      text-transform: capitalize;
      font-weight: 500;
      color: #fff;
      margin-bottom: 0;
    }
  }
}
