@import "../../styles/__vars.scss";

.settingComp {
  padding: 16px 22px;
  &__settingSec{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.sttings {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  border: 1px solid #ffffff2e;
  background: linear-gradient(
    88deg,
    rgba(255, 255, 255, 0) 1.62%,
    rgba(255, 255, 255, 0.1) 48.43%,
    rgba(255, 255, 255, 0) 98.38%
  );
  backdrop-filter: blur(32px);
  padding: 11px 16px;
  align-items: center;
  cursor: pointer;

  &__left {
    display: flex;
    gap: 12px;
    align-items: center;

    &__textsTop {
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      color: #fff;
    }
  }

  &__right {
    img {
      margin-right: 25px;
    }
  }
}
