@import "../../styles/__vars.scss";
.coinsTable {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
  padding: 16px 0;
  border-bottom: 1px solid #D7E0EB;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: 0
  }
  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    &__textSec {
      margin-left: 9px;
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
  &__right {
    text-align: right;
  }
  &__textTop {
    font-size: 14px;
    color: $baseColor-Text;
    font-weight: bold;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
  }
  &__grayText12 {
    font-size: 12px;
    color: $gray-6E737E;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
}
