@import "../../styles/__vars.scss";

.menuItems {
  padding: 24px 28px;
  box-shadow: 0px 3px 8px #223f7017;
  //   border: 1px solid #c4d7f8;
  background-color: #0f2046;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    color: $gray;
    text-decoration: none;
    transition: 0.3s all;

    &__active,
    &:hover {
      >div {
        filter: none;
      }

      span {
        color: $baseText-00AEEF;
      }
    }

    &__img {
      // filter: grayscale(1);
    }

    span {
      color: #00aeef;
    }
  }

  &__needHelp {
    width: 100%;
    padding: 16px 37px;

    p {
      color: #8fa2b7;
    }

    a {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__cancleContinue {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 67px;
    border-top: 1px solid #404058;
    padding: 16px 37px;
  }

  &__cancleContinue1 {
    display: flex;
    justify-content: space-between;

    gap: 67px;
    border-top: 1px solid #404058;
    padding: 16px 37px;
  }
}

.sttings {
  display: flex;
  justify-content: space-between;
  background-color: $baseColor-Text2;
  padding: 14px 16px;
  align-items: center;
  border-radius: 10px;

  &__left {
    display: flex;
    gap: 12px;
    align-items: center;

    &__textsTop {
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      color: #fff;
    }
  }

  &__right {
    img {
      margin-right: 25px;
    }
  }
}

.noTxn {
  color: white;
  text-align: center;
}

.walletIconBorder {
  background-image: url("../../Assets/PNG/wallet.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 16px;
    height: 14px;
  }
}