$baseColor-Text: #223f70;
$baseColor-Text2: #0f2046;
$baseText-00AEEF: #00AEEF;
$white: #ffffff;
$black: #000000;
$gray: #80838e;
$gray-80838E-Dark: #80838e80;
$gray-6E737E : #6E737E;
$grayPlaceholder: #B5B7BC;
$gray-80838E-Dark2: #6E737E;
$gray-D7E0EB-light: #D7E0EB;
$inputBg: #eef3f9;
$border-1098FC: #1098FC;
$border-C4D7F8: #C4D7F8;
$red: #f6465d;
$red-bglight: #FFEEF0;
$green: #0ecb81;
$blue-08132C:#08132C;
