@import "../../styles/__vars.scss";

input::placeholder {
  color: $gray8D96AA !important;
}

.inputPassword {
  border-radius: 15px !important;
  border: 1px solid var(--UI-Secondary-Blue-Tone, #00A7DC26)!important;

  span {
    cursor: pointer !important;
  }
}

.inputSimple {
  background-color: $blue-08132C;
  border-radius: 15px;
  padding: 13px 16px;
  border: 0;

  input {
    background-color: transparent;
    font-weight: normal;
    border-radius: 12px;
    padding: 14px 16px;
    border: 1px solid #404058;
    color: $white !important;
    font-size: 14px;

    &::placeholder {
      color: $gray8D96AA !important;
    }
  }
}

.inputField {
  &__coloredBg {
    background-color: transparent !important;

    input {
      background-color: transparent !important;
      border: 0;
      padding: 0;
      color: $white !important;

      &:focus,
      &:focus-visible,
      &:focus-within {
        border: 0;
        box-shadow: none;
        outline: none;
      }

      &::placeholder {
        color: $gray8D96AA !important;
      }
    }
  }

  &__inputSelect {
    padding: 5px 5px 5px 16px !important;
  }

  &__input {
    background-color: $blue-08132C;
    padding: 11px 16px;
    border-radius: 15px;
    border: 1px solid var(--UI-Secondary-Blue-Tone, rgba(0, 167, 220, 0.15));
    color: $white !important;
    font-size: 14px;

    .ant-input-wrapper {
      padding: 0;
      border: 0;
    }
  }
}

.boxStyle {
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;

  // margin-bottom: 15px;
  &__label {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
    opacity: 0.6;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__label:empty {
    display: none;
  }
}

.mb0 {
  margin-bottom: 0;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}