@import "../../../styles/__vars.scss";

.restOfHeaders {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
    white-space: nowrap;
    color: $white;
    // Fill Color Style: gradient;
  }
}

.backarow {
  transform: rotate(180deg);
}

.silverLogo {
  width: 45px;
}

// .backarrowIcon{
//   position: absolute;
//   left: 20px;
// }
