@import "../../styles/__vars.scss";

.sendSec {
  padding: 13px 25px;

  &__sourceLabel {
    display: flex;
    gap: 30px;
    align-items: center;

    label {
      color: $white;
      font-size: 15px;
      white-space: nowrap;
    }
  }

  &__inputInnerSec {
    display: flex;
    flex-direction: column;
    // gap: 16px;
    padding-top: 10px;
  }

  &__sendSwapbtn {
    display: flex;
    border-radius: 12px;
    background: #0e1e41;
    border: 1px solid #102658;
    width: 100%;
    max-width: 134px;
    margin: auto;
    margin-right: 0;
    padding: 3px;
    position: relative;

    &__buttons {
      background: transparent;
      // border-radius: 12px 0 0px 12px;
      width: 100%;
      // max-width: 62px;
      border-radius: 7px;
      cursor: pointer;
      color: $white;
      border: 0;
      font-size: 12px;
      padding: 5px;
      position: relative;
      z-index: 1;
      transition: width .3s, left .3s, right .3s;

      &__active {
        // background: linear-gradient(114.15deg, #0da6c2 20.67%, #0e39c6 89.64%);
        // border: 1px solid rgba(255, 255, 255, 0.5);
        // border: 1px solid #13d3e1;
        // border-radius: 0px 12px 12px 0px;
      }
    }

    .animations {
      position: absolute;
      height: 28px;
      top: 0;
      z-index: 0;

      &.activeFirst {
        left: 0;
        width: 70px;
        background: linear-gradient(114.15deg, #0da6c2 20.67%, #0e39c6 89.64%);
        border: 1px solid #13d3e1;
        border-radius: 7px;
        transition: width .3s, left .3s, right .3s;
      }

      &.activeSecond {
        left: 70px;
        width: 67px;
        background: linear-gradient(114.15deg, #0da6c2 20.67%, #0e39c6 89.64%);
        border: 1px solid #13d3e1;
        border-radius: 7px;
        transition: width .3s, left .3s, right .3s;
      }
    }
  }

  &__transactionFee {
    color: $white;
    font-size: 12px;
    width: 100%;
    padding-top: 20px;
  }

  &__txFeeBalance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 14px;
    position: relative;

    h2 {
      font-size: 12px;
      color: $white;
      position: absolute;
      top: 6px;
    }

    h3 {
      font-size: 12px;
      color: $white;
    }
  }

  &__inFoAccount {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 16px;
    gap: 6px;

    h3 {
      font-size: 11px;
      color: $white;
    }
  }

  &__spanbalanceText {
    color: $white;
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 6px;
  }

  &__pasteText {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $white;
    font-size: 12px;

    img {
      border-left: 1px solid #404058;
      padding-left: 10px;
      // width: 24px;
      // height: 24px;
    }
  }
}

.errorText {
  color: #ff0000;
  text-align: left;
  display: block;
  font-size: 12px !important;
  position: absolute;
  font-size: 12px;

}