@import "../../styles/__vars.scss";

.transectionHistry {
  // cursor: pointer;

  &__dateTime {
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 10.88px;
    margin: 5px 0px 5px 25px;
  }

  &__swapCopy {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    img {
      background: #132c64;
      padding: 9px;
      border-radius: 25px;
    }
  }

  &__rytContact {
    width: 100%;
    text-align: left;

    span {
      justify-content: end;
    }
  }

  &__swapSec {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: auto !important;
    max-width: 140px;

    h3 {
      color: $white;
      font-size: 14px;
    }

    p {
      color: #0071ff;
      font-size: 14px;
    }

    span {
      color: $white;
      opacity: 0.6;
      font-size: 14px;
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: left;
      width: 124px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      img {
        cursor: pointer;
      }
    }


  }

  &__datetimeSwap {
    span {
      width: auto !important;
      word-break: break-word;
      white-space: initial;
      font-size: 12px !important;
    }
  }

  &__histry {
    background-color: #0f2046;
    display: flex;
    justify-content: space-between;
    padding: 11px 10px 16px 25px;

    &__status {
      display: flex;
      gap: 13px;

      p {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;

        &:last-child {
          font-size: 12px;
          font-weight: 300;
          line-height: 13px;
        }
      }
    }

    &__success {
      p {
        text-align: right;
        color: #fff;

        &:last-child {
          font-size: 12px;
          font-weight: 300;
          line-height: 13px;
        }

        span {
          color: #3cc8c8;
        }
      }
    }
  }

  &__viewExplorer {
    p {
      color: #0C98FC;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      padding-top: 38px;
      text-decoration-line: underline;
      text-transform: capitalize;
      cursor: pointer;

    }
    .disabled{
      cursor: not-allowed;
      opacity: 0.2;
    }
  }

  &__pending {
    color: #fab629 !important;
  }

  &__success {
    color: #3CC8C8 !important;
  }

  &__failed {
    color: #FF6332 !important;
  }

  &:disabled {
    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
}