@import "../../styles/__vars.scss";
.wallet {
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    gap: 10px;
    &__text {
      font-size: 16px;
      font-weight: 800;
      color: $baseColor-Text;
    }
    &__filter {
      cursor: pointer;
    }
  }
  &__tableOuter {
    max-height: 232px;
    height: 100%;
    padding: 17px 24px;
    border-radius: 16px;
    background-color: $inputBg;
    overflow: auto;
  }

  &__multiSwapBtn {
    padding: 15px 20px;
    padding-bottom: 0;
  }
  &__sendSwapbtn {
    display: flex;
    border-radius: 12px;
    background: var(--ui-module-dark, rgba(20, 55, 139, 0.15));
    backdrop-filter: blur(5px);
    padding: 3px;
    position: relative;
    &__buttons {
      background: transparent;
      // border-radius: 12px 0 0px 12px;
      width: 100%;
      border-radius: 12px;
      cursor: pointer;
      color: $white;
      border: 0;
      font-size: 14px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      position: relative;
      z-index: 1;
      transition: width 0.3s, left 0.3s, right 0.3s;
      // border: 1px solid #00A7DC;
      &__active {
        color: $blue-0c98fc;
        svg {
          path {
            // fill: $blue-0c98fc;
            stroke: $blue-0c98fc;
          }
        }
        // img{
        //   filter: contrast(100);
        // }
      }
    }
    .animations {
      position: absolute;
      width: 175px;
      height: 42px;
      top: 3px;
      z-index: 0;

      &.activeFirst {
        left: 0;
        background: var(--UI-Secondary-Blue-Tone, rgba(0, 167, 220, 0.15));
        // border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        // border-radius: 0px 12px 12px 0px;
        transition: width 0.3s, left 0.3s, right 0.3s;
      }
      &.activeSecond {
        left: 180px;
        background: var(--UI-Secondary-Blue-Tone, rgba(0, 167, 220, 0.15));
        // border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        // border-radius: 0px 12px 12px 0px;
        transition: width 0.3s, left 0.3s, right 0.3s;
      }
    }
  }
}
