// @import url("https://fonts.googleapis.com/css2?family=Archivo:wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import "./styles/__vars.scss";
* {
  font-family: "Archivo", sans-serif;
  * {
    padding: 0;
    margin: 0;
  }
}
html,
body {
  margin: 0;
  // height: 700px;
  // width: 400px;
  overflow: hidden;
  background-color: #092145;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// --------------common css--------------

.errPage {
  background-color: #08132c;
  margin: 0;
  color: white;
  height: 700px;
  width: 400px;
  overflow: hidden;
}

.bluegradient {
  background: linear-gradient(114.15deg, #0da6c2 20.67%, #0e39c6 89.64%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  transform: rotate(-0.2deg);
  color: $white;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  display: block;
  padding: 13px 0;
  text-decoration: none;
  &:hover {
    background: linear-gradient(114.15deg, #0e39c6 20.67%, #0da6c2 89.64%);
  }
}
.grayBtn {
  border: 1px solid #0c98fc;
  border-radius: 12px;
  transform: rotate(-0.2deg);
  color: $blue-0c98fc;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  display: block;
  padding: 13px 0;
  text-decoration: none;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.errorText {
  text-align: left;
  color: $red;
  // margin-top: 10px;
  position: absolute;
  white-space: nowrap;
}
