@import '../styles/__vars.scss';
.fixedLayout {
  min-height: 100vh;
  background-color: #0e1f45;
  display: flex;
  justify-content: center;
  width: 400px;
  margin:  0 auto;
  &__inner {
    height: 599px;
    background-color: $blue-08132C;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 404px;
  }
  &__innerBgChange {
    background-color: $inputBg;
  }
  &__content {
    // padding: 0 28px 24px;
    overflow-y: scroll;
    flex: 1 1 0%;
    &__paddingX {
      padding-left: 0;
      padding-right: 0;
      background-color: $inputBg;
    }
  }
}
